<ion-view view-title="{{device.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{device.name}}</div>
      <div class="item item-body">
        <p>Device ID: {{device.id}}</p>
        <p>Service ID: {{service}}</p>
        <p>Characteristic ID: {{characteristic}}</p>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Notifications</div>
      <div class="item item-body">
        <ion-list>
          <ion-item ng-repeat="n in notifications"
                    type="item-text-wrap">
            <p>{{n}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
