<ion-view view-title="{{device.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{device.name}}</div>
      <div class="item item-body">
          {{device.id}}
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Characteristics</div>
        <ion-list>
          <ion-item ng-repeat="item in device.characteristics"
                    ng-click="setAttributes(device.id, item.service, item.characteristic)"
                    type="item-text-wrap">
            <h3>Service {{item.service}}</h3>
            <p>Characteristic {{item.characteristic}}</p>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
