<ion-view view-title="Calibrate">
    <ion-content class="padding center water" has-header="true">

        <div class="water-bottle-container">
            <img id="water-bottle" style="{{bottlestyle}}" src="img/waterbottle.png">
        </div>
        <h2>Set your Mizu flat on a table</h1>

        <div>{{xData}}</div>
        <div>{{yData}}</div>
        <div>{{zData}}</div>
        <div>{{pitch}}</div>
        <div>{{roll}}</div>
    </ion-content>


    <div class="btn-footer water" ng-click="confirm()">
        <div class="btn-mizu">Confirm</div>
    </div>
</ion-view>
