<ion-view title="Login">
    <ion-content has-header="true" has-tabs="true" padding="true">
        <div class="list">
            <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="user.password">
            </label>
        </div>
        <div class="assertive" ng-show="error.message">{{error.message}}</div>
        <button class="btn-mizu" ng-click="login()">
            Log In
        </button>
        <button class="btn-mizu secondary" ng-click="forgot()">
            Forgot your password?
        </button>
    </ion-content>
</ion-view>
