<ion-view view-title="Settings">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-log-out" ng-click="logOut()">Log Out</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">First name:</span>
        <input ng-model="user.first_name" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last name:</span>
        <input ng-model="user.last_name" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Email:</span>
        <input ng-model="user.email" type="text">
      </label>
      <div class="item"
           ng-click="goToConnect()">
        Recalibrate Mizu
      </div>
    </div>
  </ion-content>
</ion-view>
