<ion-view view-title="BLE Devices">
  <ion-content>
    <ion-refresher
       pulling-text="Pull to refresh..."
       on-refresh="onRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item-icon-right"
                ng-repeat="device in devices"
                type="item-text-wrap"
                href="#/tab/ble/{{device.id}}">
        <h2>{{device.name}}</h2>
        <p>{{device.id}} &nbsp; RSSI: {{device.rssi}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Bottle Size (mL):</span>
        <input type="number">
      </label>
      <label class="item item-input">
        <span class="input-label">Max Per Day (mL):</span>
        <input type="number">
      </label>
    </div>

  <button class="button button-full button-positive">
    Save
  </button>
  </ion-content>
</ion-view>
